<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Messages</h2>
<form method="post" action="/add_message">
<!--    <input type="text" name="nick" placeholder="Логин">-->
    <textarea name="message" placeholder="Сообщение" id="text"></textarea>
    <button type="submit" id="send">Отправить</button>
</form>

<h3>Ваши сообщения</h3>
{% for log in result|reverse %}
<div><b>{{ log.text }}</b>&nbsp;
    {{ log.name }}
    {{ log}}
 {{ log.user_id }}
</div>
{% endfor %}
 {% for n in result|reverse %}
    {{ n.user_id }}
{% endfor %}
<div><b></b>&nbsp;

</div>

<script>
<!--
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}


textarea = document.getElementById('text');
textarea.onfblur = function() {
window.onload = timedRefresh(600);
}
textarea.onfocus = function() {
window.onload = timedRefresh(6000);
}




//   -->
</script>
</body>
</html>